# Analyse Exploratoire

### Import des modules

In [ ]:
pip install pandas

In [ ]:
pip install matplotlib

In [ ]:
pip install matplotlib.pyplot

In [ ]:

pip install seaborn

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Analyse Exploratoire

In [33]:
#building_consumption = pd.read_csv('2016_Building_Energy_Benchmarking.csv')
building_consumption = pd.read_csv('https://raw.githubusercontent.com/IngridFi70/Projet06/main/2016_Building_Energy_Benchmarking.csv')

In [35]:
# On regarde comment un batiment est dÃ©fini dans ce jeu de donnÃ©es 
building_consumption.head()

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,Address,City,State,ZipCode,TaxParcelIdentificationNumber,...,Electricity(kWh),Electricity(kBtu),NaturalGas(therms),NaturalGas(kBtu),DefaultData,Comments,ComplianceStatus,Outlier,TotalGHGEmissions,GHGEmissionsIntensity
0,1,2016,NonResidential,Hotel,Mayflower park hotel,405 Olive way,Seattle,WA,98101.0,0659000030,...,1.156514e+06,3946027.0,12764.52930,1276453.0,False,NaN,Compliant,NaN,249.98,2.83
1,2,2016,NonResidential,Hotel,Paramount Hotel,724 Pine street,Seattle,WA,98101.0,0659000220,...,9.504252e+05,3242851.0,51450.81641,5145082.0,False,NaN,Compliant,NaN,295.86,2.86
2,3,2016,NonResidential,Hotel,5673-The Westin Seattle,1900 5th Avenue,Seattle,WA,98101.0,0659000475,...,1.451544e+07,49526664.0,14938.00000,1493800.0,False,NaN,Compliant,NaN,2089.28,2.19
3,5,2016,NonResidential,Hotel,HOTEL MAX,620 STEWART ST,Seattle,WA,98101.0,0659000640,...,8.115253e+05,2768924.0,18112.13086,1811213.0,False,NaN,Compliant,NaN,286.43,4.67
4,8,2016,NonResidential,Hotel,WARWICK SEATTLE HOTEL (ID8),401 LENORA ST,Seattle,WA,98121.0,0659000970,...,1.573449e+06,5368607.0,88039.98438,8803998.0,False,NaN,Compliant,NaN,505.01,2.88

In [42]:
# On regarde le nombre de valeurs manquantes par colonne ainsi que leur type 
building_consumption.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3376 entries, 0 to 3375
Data columns (total 46 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   OSEBuildingID                    3376 non-null   int64
 1   DataYear                         3376 non-null   int64
 2   BuildingType                     3376 non-null   object
 3   PrimaryPropertyType              3376 non-null   object
 4   PropertyName                     3376 non-null   object
 5   Address                          3376 non-null   object
 6   City                             3376 non-null   object
 7   State                            3376 non-null   object
 8   ZipCode                          3360 non-null   float64
 9   TaxParcelIdentificationNumber    3376 non-null   object
 10  CouncilDistrictCode              3376 non-null   int64
 11  Neighborhood                     3376 non-null   object
 12  Latitude                         3376 non-null   float64
 13  Longitude                        3376 non-null   float64
 14  YearBuilt                        3376 non-null   int64
 15  NumberofBuildings                3368 non-null   float64
 16  NumberofFloors                   3376 non-null   int64
 17  PropertyGFATotal                 3376 non-null   int64
 18  PropertyGFAParking               3376 non-null   int64
 19  PropertyGFABuilding(s)           3376 non-null   int64
 20  ListOfAllPropertyUseTypes        3367 non-null   object
 21  LargestPropertyUseType           3356 non-null   object
 22  LargestPropertyUseTypeGFA        3356 non-null   float64
 23  SecondLargestPropertyUseType     1679 non-null   object
 24  SecondLargestPropertyUseTypeGFA  1679 non-null   float64
 25  ThirdLargestPropertyUseType      596 non-null    object
 26  ThirdLargestPropertyUseTypeGFA   596 non-null    float64
 27  YearsENERGYSTARCertified         119 non-null    object
 28  ENERGYSTARScore                  2533 non-null   float64
 29  SiteEUI(kBtu/sf)                 3369 non-null   float64
 30  SiteEUIWN(kBtu/sf)               3370 non-null   float64
 31  SourceEUI(kBtu/sf)               3367 non-null   float64
 32  SourceEUIWN(kBtu/sf)             3367 non-null   float64
 33  SiteEnergyUse(kBtu)              3371 non-null   float64
 34  SiteEnergyUseWN(kBtu)            3370 non-null   float64
 35  SteamUse(kBtu)                   3367 non-null   float64
 36  Electricity(kWh)                 3367 non-null   float64
 37  Electricity(kBtu)                3367 non-null   float64
 38  NaturalGas(therms)               3367 non-null   float64
 39  NaturalGas(kBtu)                 3367 non-null   float64
 40  DefaultData                      3376 non-null   bool
 41  Comments                         0 non-null      float64
 42  ComplianceStatus                 3376 non-null   object
 43  Outlier                          32 non-null     object
 44  TotalGHGEmissions                3367 non-null   float64
 45  GHGEmissionsIntensity            3367 non-null   float64
dtypes: bool(1), float64(22), int64(8), object(15)
memory usage: 1.2+ MB

La colonne Comments est vide, elle peut Ãªtre supprimÃ©e.

In [54]:
#

In [38]:
building_consumption.describe(include='bool')

       DefaultData
count         3376
unique           2
top          False
freq          3263

In [37]:
building_consumption.describe(include='float64')

,ZipCode,Latitude,Longitude,NumberofBuildings,LargestPropertyUseTypeGFA,SecondLargestPropertyUseTypeGFA,ThirdLargestPropertyUseTypeGFA,ENERGYSTARScore,SiteEUI(kBtu/sf),SiteEUIWN(kBtu/sf),...,SiteEnergyUse(kBtu),SiteEnergyUseWN(kBtu),SteamUse(kBtu),Electricity(kWh),Electricity(kBtu),NaturalGas(therms),NaturalGas(kBtu),Comments,TotalGHGEmissions,GHGEmissionsIntensity
count,3360.000000,3376.000000,3376.000000,3368.000000,3.356000e+03,1679.000000,596.000000,2533.000000,3369.000000,3370.000000,...,3.371000e+03,3.370000e+03,3.367000e+03,3.367000e+03,3.367000e+03,3.367000e+03,3.367000e+03,0.0,3367.000000,3367.000000
mean,98116.949107,47.624033,-122.334795,1.106888,7.917764e+04,28444.075817,11738.675166,67.918674,54.732116,57.033798,...,5.403667e+06,5.276726e+06,2.745959e+05,1.086639e+06,3.707612e+06,1.368505e+04,1.368505e+06,NaN,119.723971,1.175916
std,18.615205,0.047758,0.027203,2.108402,2.017034e+05,54392.917928,29331.199286,26.873271,56.273124,57.163330,...,2.161063e+07,1.593879e+07,3.912173e+06,4.352478e+06,1.485066e+07,6.709781e+04,6.709781e+06,NaN,538.832227,1.821452
min,98006.000000,47.499170,-122.414250,0.000000,5.656000e+03,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,-3.382680e+04,-1.154170e+05,0.000000e+00,0.000000e+00,NaN,-0.800000,-0.020000
25%,98105.000000,47.599860,-122.350662,1.000000,2.509475e+04,5000.000000,2239.000000,53.000000,27.900000,29.400000,...,9.251286e+05,9.701822e+05,0.000000e+00,1.874229e+05,6.394870e+05,0.000000e+00,0.000000e+00,NaN,9.495000,0.210000
50%,98115.000000,47.618675,-122.332495,1.000000,3.989400e+04,10664.000000,5043.000000,75.000000,38.599998,40.900002,...,1.803753e+06,1.904452e+06,0.000000e+00,3.451299e+05,1.177583e+06,3.237538e+03,3.237540e+05,NaN,33.920000,0.610000
75%,98122.000000,47.657115,-122.319407,1.000000,7.620025e+04,26640.000000,10138.750000,90.000000,60.400002,64.275002,...,4.222455e+06,4.381429e+06,0.000000e+00,8.293178e+05,2.829632e+06,1.189033e+04,1.189034e+06,NaN,93.940000,1.370000
max,98272.000000,47.733870,-122.220966,111.000000,9.320156e+06,686750.000000,459748.000000,100.000000,834.400024,834.400024,...,8.739237e+08,4.716139e+08,1.349435e+08,1.925775e+08,6.570744e+08,2.979090e+06,2.979090e+08,NaN,16870.980000,34.090000

In [46]:
building_consumption.describe(include='int64')

,OSEBuildingID,DataYear,CouncilDistrictCode,YearBuilt,NumberofFloors,PropertyGFATotal,PropertyGFAParking,PropertyGFABuilding(s)
count,3376.000000,3376.0,3376.000000,3376.000000,3376.000000,3.376000e+03,3376.000000,3.376000e+03
mean,21208.991114,2016.0,4.439277,1968.573164,4.709123,9.483354e+04,8001.526066,8.683201e+04
std,12223.757015,0.0,2.120625,33.088156,5.494465,2.188376e+05,32326.723928,2.079398e+05
min,1.000000,2016.0,1.000000,1900.000000,0.000000,1.128500e+04,0.000000,3.636000e+03
25%,19990.750000,2016.0,3.000000,1948.000000,2.000000,2.848700e+04,0.000000,2.775600e+04
50%,23112.000000,2016.0,4.000000,1975.000000,4.000000,4.417500e+04,0.000000,4.321600e+04
75%,25994.250000,2016.0,7.000000,1997.000000,5.000000,9.099200e+04,0.000000,8.427625e+04
max,50226.000000,2016.0,7.000000,2015.000000,99.000000,9.320156e+06,512608.000000,9.320156e+06

In [34]:
building_consumption.describe(include='object')

,BuildingType,PrimaryPropertyType,PropertyName,Address,City,State,TaxParcelIdentificationNumber,Neighborhood,ListOfAllPropertyUseTypes,LargestPropertyUseType,SecondLargestPropertyUseType,ThirdLargestPropertyUseType,YearsENERGYSTARCertified,ComplianceStatus,Outlier
count,3376,3376,3376,3376,3376,3376,3376,3376,3367,3356,1679,596,119,3376,32
unique,8,24,3362,3354,1,1,3268,19,466,56,50,44,65,4,2
top,NonResidential,Low-Rise Multifamily,Northgate Plaza,309 South Cloverdale Street,Seattle,WA,1625049001,DOWNTOWN,Multifamily Housing,Multifamily Housing,Parking,Retail Store,2016,Compliant,Low outlier
freq,1460,987,3,4,3376,3376,8,573,866,1667,976,110,14,3211,23

les colonnes City et State sont non pertinentes car elles rÃ©pÃ¨tent la mÃªme information Ã  toutes les lignes.

In [ ]:
#  
valeurs_uniques = building_consumption['LargestPropertyUseType'].unique()
print(valeurs_uniques)

['Hotel' 'Police Station' 'Other - Entertainment/Public Assembly'
 'Multifamily Housing' 'Library' 'Fitness Center/Health Club/Gym'
 'Social/Meeting Hall' 'Courthouse' 'Other' 'K-12 School'
 'College/University' 'Automobile Dealership' 'Office'
 'Self-Storage Facility' 'Non-Refrigerated Warehouse' 'Other - Mall'
 'Senior Care Community' 'Medical Office' 'Retail Store'
 'Hospital (General Medical & Surgical)' 'Museum'
 'Repair Services (Vehicle, Shoe, Locksmith, etc)'
 'Other - Lodging/Residential' 'Residence Hall/Dormitory'
 'Other/Specialty Hospital' 'Financial Office' 'Distribution Center'
 'Parking' 'Worship Facility' 'Restaurant' 'Data Center' 'Laboratory'
 'Supermarket/Grocery Store' 'Convention Center'
 'Urgent Care/Clinic/Other Outpatient' nan 'Other - Services' 'Strip Mall'
 'Wholesale Club/Supercenter' 'Refrigerated Warehouse'
 'Manufacturing/Industrial Plant' 'Other - Recreation' 'Lifestyle Center'
 'Other - Public Services' 'Other - Education' 'Fire Station'
 'Performing Arts' 'Residential Care Facility' 'Bank Branch'
 'Other - Restaurant/Bar' 'Food Service' 'Adult Education'
 'Other - Utility' 'Movie Theater'
 'Personal Services (Health/Beauty, Dry Cleaning, etc)'
 'Pre-school/Daycare' 'Prison/Incarceration']

In [48]:
nombre_valeurs_uniques = building_consumption['LargestPropertyUseType'].value_counts()
print(nombre_valeurs_uniques)

LargestPropertyUseType
Multifamily Housing                                     1667
Office                                                   498
Non-Refrigerated Warehouse                               199
K-12 School                                              139
Other                                                    102
Retail Store                                              99
Hotel                                                     77
Worship Facility                                          71
Distribution Center                                       54
Senior Care Community                                     46
Medical Office                                            41
Supermarket/Grocery Store                                 41
Parking                                                   32
Other - Recreation                                        31
Self-Storage Facility                                     28
College/University                                        25
Residence Hall/Dormitory                                  24
Other - Entertainment/Public Assembly                     21
Laboratory                                                13
Refrigerated Warehouse                                    12
Restaurant                                                12
Social/Meeting Hall                                       10
Hospital (General Medical & Surgical)                     10
Manufacturing/Industrial Plant                             8
Repair Services (Vehicle, Shoe, Locksmith, etc)            6
Strip Mall                                                 6
Other - Lodging/Residential                                6
Other - Services                                           5
Fitness Center/Health Club/Gym                             5
Museum                                                     5
Automobile Dealership                                      5
Library                                                    4
Urgent Care/Clinic/Other Outpatient                        4
Bank Branch                                                4
Other - Mall                                               4
Financial Office                                           4
Other - Education                                          4
Other/Specialty Hospital                                   4
Prison/Incarceration                                       3
Performing Arts                                            3
Data Center                                                3
Other - Public Services                                    2
Other - Utility                                            2
Adult Education                                            2
Pre-school/Daycare                                         2
Lifestyle Center                                           2
Other - Restaurant/Bar                                     2
Courthouse                                                 1
Police Station                                             1
Convention Center                                          1
Wholesale Club/Supercenter                                 1
Fire Station                                               1
Residential Care Facility                                  1
Food Service                                               1
Personal Services (Health/Beauty, Dry Cleaning, etc)       1
Movie Theater                                              1
Name: count, dtype: int64

In [52]:
print(building_consumption['DefaultData'].value_counts(dropna=False))

DefaultData
False    3263
True      113
Name: count, dtype: int64

la colonne DefaultData

In [53]:
print(building_consumption['Outlier'].value_counts(dropna=False))

Outlier
NaN             3344
Low outlier       23
High outlier       9
Name: count, dtype: int64

In [59]:
liste_colonnes_total = building_consumption.columns

In [60]:
liste_colonnes_total

Index(['OSEBuildingID', 'DataYear', 'BuildingType', 'PrimaryPropertyType',
       'PropertyName', 'Address', 'City', 'State', 'ZipCode',
       'TaxParcelIdentificationNumber', 'CouncilDistrictCode', 'Neighborhood',
       'Latitude', 'Longitude', 'YearBuilt', 'NumberofBuildings',
       'NumberofFloors', 'PropertyGFATotal', 'PropertyGFAParking',
       'PropertyGFABuilding(s)', 'ListOfAllPropertyUseTypes',
       'LargestPropertyUseType', 'LargestPropertyUseTypeGFA',
       'SecondLargestPropertyUseType', 'SecondLargestPropertyUseTypeGFA',
       'ThirdLargestPropertyUseType', 'ThirdLargestPropertyUseTypeGFA',
       'YearsENERGYSTARCertified', 'ENERGYSTARScore', 'SiteEUI(kBtu/sf)',
       'SiteEUIWN(kBtu/sf)', 'SourceEUI(kBtu/sf)', 'SourceEUIWN(kBtu/sf)',
       'SiteEnergyUse(kBtu)', 'SiteEnergyUseWN(kBtu)', 'SteamUse(kBtu)',
       'Electricity(kWh)', 'Electricity(kBtu)', 'NaturalGas(therms)',
       'NaturalGas(kBtu)', 'DefaultData', 'Comments', 'ComplianceStatus',
       'Outlier', 'TotalGHGEmissions', 'GHGEmissionsIntensity'],
      dtype='object')

In [58]:
for colonne in liste_colonnes:
    print(building_consumption[colonne].value_counts(dropna=False))
    print("_____________________________________")

OSEBuildingID
1        1
2        1
3        1
5        1
8        1
        ..
50222    1
50223    1
50224    1
50225    1
50226    1
Name: count, Length: 3376, dtype: int64
_____________________________________
DataYear
2016    3376
Name: count, dtype: int64
_____________________________________
BuildingType
NonResidential          1460
Multifamily LR (1-4)    1018
Multifamily MR (5-9)     580
Multifamily HR (10+)     110
SPS-District K-12         98
Nonresidential COS        85
Campus                    24
Nonresidential WA          1
Name: count, dtype: int64
_____________________________________
PrimaryPropertyType
Low-Rise Multifamily           987
Mid-Rise Multifamily           564
Small- and Mid-Sized Office    293
Other                          256
Warehouse                      187
Large Office                   173
K-12 School                    139
Mixed Use Property             133
High-Rise Multifamily          105
Retail Store                    91
Hotel                           77
Worship Facility                71
Distribution Center             53
Senior Care Community           45
Supermarket / Grocery Store     40
Medical Office                  39
Self-Storage Facility           28
University                      25
Residence Hall                  23
Restaurant                      12
Refrigerated Warehouse          12
Hospital                        10
Laboratory                      10
Office                           3
Name: count, dtype: int64
_____________________________________
PropertyName
Northgate Plaza                                 3
Pine Building                                   2
Jefferson Court Apartments                      2
Airport Way                                     2
Bayview Building                                2
                                               ..
Crowne Plaza Hotel Seattle                      1
Hotel Vintage Seattle                           1
The Seattle Public Library - Central Library    1
Downtown Seattle YMCA                           1
Paramount Hotel                                 1
Name: count, Length: 3362, dtype: int64
_____________________________________
Address
309 South Cloverdale Street    4
2203 Airport Way S             4
2600 SW Barton St              4
500 5TH AVE                    2
1227 NE 143rd Street           2
                              ..
14307 greenwood ave n          1
5149 S. Graham St.             1
4242 ROOSEVELT WAY NE          1
1000 Lenora St.                1
607 - 3rd Ave.                 1
Name: count, Length: 3354, dtype: int64
_____________________________________
City
Seattle    3376
Name: count, dtype: int64
_____________________________________
State
WA    3376
Name: count, dtype: int64
_____________________________________
ZipCode
98109.0    294
98104.0    251
98122.0    243
98101.0    230
98105.0    191
98121.0    186
98134.0    186
98102.0    169
98119.0    167
98103.0    161
98125.0    152
98115.0    129
98108.0    129
98133.0    124
98107.0    101
98144.0     99
98116.0     93
98118.0     85
98199.0     70
98112.0     68
98126.0     64
98106.0     50
98117.0     31
98136.0     28
NaN         16
98195.0     10
98146.0      6
98178.0      4
98155.0      4
98111.0      3
98154.0      2
98124.0      2
98013.0      2
98177.0      2
98168.0      2
98164.0      2
98033.0      1
98070.0      1
98185.0      1
98191.0      1
98012.0      1
98053.0      1
98006.0      1
98181.0      1
98127.0      1
98165.0      1
98028.0      1
98114.0      1
98198.0      1
98011.0      1
98040.0      1
98113.0      1
98204.0      1
98020.0      1
98272.0      1
98145.0      1
Name: count, dtype: int64
_____________________________________
TaxParcelIdentificationNumber
1625049001    8
0002400002    5
3224049012    5
0925049346    5
3624039009    4
             ..
0942000275    1
0942000350    1
0942000430    1
0942000510    1
3628800000    1
Name: count, Length: 3268, dtype: int64
_____________________________________
CouncilDistrictCode
7    1037
3     596
2     509
4     367
5     338
1     282
6     247
Name: count, dtype: int64
_____________________________________
Neighborhood
DOWNTOWN                  573
EAST                      453
MAGNOLIA / QUEEN ANNE     423
GREATER DUWAMISH          375
NORTHEAST                 280
LAKE UNION                251
NORTHWEST                 210
SOUTHWEST                 166
NORTH                     145
BALLARD                   126
CENTRAL                   107
SOUTHEAST                  95
DELRIDGE                   80
North                      42
Central                    27
Northwest                  11
Ballard                     7
Delridge                    4
DELRIDGE NEIGHBORHOODS      1
Name: count, dtype: int64
_____________________________________
Latitude
47.66246    9
47.61598    7
47.62208    6
47.62395    5
47.52549    5
           ..
47.65959    1
47.61816    1
47.61500    1
47.61301    1
47.61784    1
Name: count, Length: 2876, dtype: int64
_____________________________________
Longitude
-122.29898    8
-122.35398    7
-122.33369    6
-122.32468    6
-122.33379    6
             ..
-122.29208    1
-122.31803    1
-122.33297    1
-122.33244    1
-122.33212    1
Name: count, Length: 2656, dtype: int64
_____________________________________
YearBuilt
2000    72
1989    67
2014    67
2008    66
1999    64
        ..
1942     3
1939     2
1944     2
1936     1
1935     1
Name: count, Length: 113, dtype: int64
_____________________________________
NumberofBuildings
1.0      3175
0.0        92
2.0        37
3.0        22
4.0        12
5.0        10
NaN         8
6.0         5
8.0         3
9.0         2
14.0        2
10.0        2
11.0        1
27.0        1
7.0         1
16.0        1
23.0        1
111.0       1
Name: count, dtype: int64
_____________________________________
NumberofFloors
3     692
4     692
1     466
2     439
6     306
5     295
7     148
8      64
10     32
11     32
13     21
12     21
9      18
0      16
14     13
17      9
18      7
15      7
24      7
16      7
23      7
26      6
33      6
42      6
19      6
25      5
27      5
21      5
20      5
22      4
29      3
41      3
28      2
34      2
31      2
37      2
36      2
47      1
49      1
46      1
55      1
63      1
56      1
30      1
76      1
99      1
38      1
39      1
32      1
40      1
Name: count, dtype: int64
_____________________________________
PropertyGFATotal
36000     9
25920     8
21600     7
28800     7
24000     6
         ..
56228     1
88592     1
126593    1
67224     1
59653     1
Name: count, Length: 3195, dtype: int64
_____________________________________
PropertyGFAParking
0        2872
13320       3
12960       2
22000       2
10800       2
         ...
85000       1
30586       1
30301       1
38281       1
16200       1
Name: count, Length: 496, dtype: int64
_____________________________________
PropertyGFABuilding(s)
36000     9
25920     8
21600     7
28800     7
24000     6
         ..
540360    1
385274    1
56228     1
58006     1
102761    1
Name: count, Length: 3193, dtype: int64
_____________________________________
ListOfAllPropertyUseTypes
Multifamily Housing                                         866
Multifamily Housing, Parking                                464
Office                                                      139
K-12 School                                                 135
Office, Parking                                             120
                                                           ...
Data Center, Multifamily Housing, Office, Other, Parking      1
Hotel, Parking, Retail Store                                  1
Hotel, Parking, Retail Store, Swimming Pool                   1
Hospital (General Medical & Surgical), Other                  1
Courthouse                                                    1
Name: count, Length: 467, dtype: int64
_____________________________________
LargestPropertyUseType
Multifamily Housing                                     1667
Office                                                   498
Non-Refrigerated Warehouse                               199
K-12 School                                              139
Other                                                    102
Retail Store                                              99
Hotel                                                     77
Worship Facility                                          71
Distribution Center                                       54
Senior Care Community                                     46
Supermarket/Grocery Store                                 41
Medical Office                                            41
Parking                                                   32
Other - Recreation                                        31
Self-Storage Facility                                     28
College/University                                        25
Residence Hall/Dormitory                                  24
Other - Entertainment/Public Assembly                     21
NaN                                                       20
Laboratory                                                13
Refrigerated Warehouse                                    12
Restaurant                                                12
Social/Meeting Hall                                       10
Hospital (General Medical & Surgical)                     10
Manufacturing/Industrial Plant                             8
Repair Services (Vehicle, Shoe, Locksmith, etc)            6
Other - Lodging/Residential                                6
Strip Mall                                                 6
Other - Services                                           5
Automobile Dealership                                      5
Fitness Center/Health Club/Gym                             5
Museum                                                     5
Library                                                    4
Urgent Care/Clinic/Other Outpatient                        4
Bank Branch                                                4
Other/Specialty Hospital                                   4
Other - Mall                                               4
Other - Education                                          4
Financial Office                                           4
Prison/Incarceration                                       3
Performing Arts                                            3
Data Center                                                3
Other - Public Services                                    2
Other - Utility                                            2
Adult Education                                            2
Pre-school/Daycare                                         2
Lifestyle Center                                           2
Other - Restaurant/Bar                                     2
Courthouse                                                 1
Police Station                                             1
Convention Center                                          1
Wholesale Club/Supercenter                                 1
Fire Station                                               1
Residential Care Facility                                  1
Food Service                                               1
Personal Services (Health/Beauty, Dry Cleaning, etc)       1
Movie Theater                                              1
Name: count, dtype: int64
_____________________________________
LargestPropertyUseTypeGFA
NaN         20
24000.0      9
22000.0      9
30000.0      8
21600.0      8
            ..
67390.0      1
364913.0     1
68916.0      1
348329.0     1
16442.0      1
Name: count, Length: 3123, dtype: int64
_____________________________________
SecondLargestPropertyUseType
NaN                                                     1697
Parking                                                  976
Office                                                   215
Retail Store                                             155
Other                                                     59
Restaurant                                                40
Non-Refrigerated Warehouse                                33
Multifamily Housing                                       18
Fitness Center/Health Club/Gym                            17
Supermarket/Grocery Store                                 14
Data Center                                               13
Other - Services                                          12
Medical Office                                            11
Swimming Pool                                             10
Laboratory                                                 8
Distribution Center                                        7
Other - Entertainment/Public Assembly                      7
Bank Branch                                                7
K-12 School                                                6
Other - Restaurant/Bar                                     5
Worship Facility                                           4
Food Service                                               4
Self-Storage Facility                                      4
Other - Recreation                                         4
Repair Services (Vehicle, Shoe, Locksmith, etc)            4
Movie Theater                                              3
Bar/Nightclub                                              3
Other - Public Services                                    3
Hotel                                                      3
Food Sales                                                 3
Manufacturing/Industrial Plant                             2
Other - Education                                          2
Refrigerated Warehouse                                     2
Senior Care Community                                      2
Financial Office                                           2
Automobile Dealership                                      2
Adult Education                                            2
Hospital (General Medical & Surgical)                      2
Other - Lodging/Residential                                2
Performing Arts                                            2
Courthouse                                                 1
Personal Services (Health/Beauty, Dry Cleaning, etc)       1
Vocational School                                          1
Residence Hall/Dormitory                                   1
College/University                                         1
Convenience Store without Gas Station                      1
Enclosed Mall                                              1
Pre-school/Daycare                                         1
Other/Specialty Hospital                                   1
Museum                                                     1
Social/Meeting Hall                                        1
Name: count, dtype: int64
_____________________________________
SecondLargestPropertyUseTypeGFA
NaN        1697
0.0         126
5000.0       14
15000.0      12
7200.0       12
           ...
20754.0       1
6340.0        1
41539.0       1
8266.0        1
6354.0        1
Name: count, Length: 1353, dtype: int64
_____________________________________
ThirdLargestPropertyUseType
NaN                                                     2780
Retail Store                                             110
Office                                                   105
Parking                                                   71
Restaurant                                                56
Other                                                     49
Swimming Pool                                             29
Non-Refrigerated Warehouse                                18
Medical Office                                            17
Data Center                                               14
Multifamily Housing                                       12
Food Service                                              11
Social/Meeting Hall                                       11
Other - Restaurant/Bar                                     9
Pre-school/Daycare                                         8
Other - Entertainment/Public Assembly                      6
Personal Services (Health/Beauty, Dry Cleaning, etc)       6
Bank Branch                                                6
Fitness Center/Health Club/Gym                             6
Financial Office                                           5
Distribution Center                                        3
Supermarket/Grocery Store                                  3
Other - Lodging/Residential                                3
Food Sales                                                 3
Bar/Nightclub                                              3
Fast Food Restaurant                                       3
Other - Services                                           2
K-12 School                                                2
Convenience Store without Gas Station                      2
Strip Mall                                                 2
Other - Technology/Science                                 2
Other - Education                                          2
Laboratory                                                 2
Refrigerated Warehouse                                     2
Other - Recreation                                         2
Self-Storage Facility                                      2
Other - Utility                                            1
Hotel                                                      1
Manufacturing/Industrial Plant                             1
Other/Specialty Hospital                                   1
Worship Facility                                           1
Residence Hall/Dormitory                                   1
Vocational School                                          1
College/University                                         1
Other - Public Services                                    1
Name: count, dtype: int64
_____________________________________
ThirdLargestPropertyUseTypeGFA
NaN        2780
0.0          48
6000.0        7
5000.0        6
2000.0        5
           ...
12899.0       1
586.0         1
9309.0        1
15139.0       1
17020.0       1
Name: count, Length: 502, dtype: int64
_____________________________________
YearsENERGYSTARCertified
NaN                                                             3257
2016                                                              14
20172016                                                           8
2017                                                               7
20162015                                                           6
                                                                ...
201620152014201320122011201020092008200720062005200320022000       1
2014201320122008                                                   1
20152012                                                           1
20162015201420132012201020092008                                   1
20162015201020092008                                               1
Name: count, Length: 66, dtype: int64
_____________________________________
ENERGYSTARScore
NaN      843
100.0    109
98.0      72
96.0      64
89.0      58
        ...
11.0       8
13.0       8
22.0       8
9.0        5
4.0        5
Name: count, Length: 101, dtype: int64
_____________________________________
SiteEUI(kBtu/sf)
28.799999     17
24.700001     17
24.200001     16
0.000000      16
32.000000     15
              ..
212.000000     1
159.500000     1
80.000000      1
119.599998     1
70.800003      1
Name: count, Length: 1086, dtype: int64
_____________________________________
SiteEUIWN(kBtu/sf)
0.000000      29
29.500000     17
30.799999     15
32.200001     14
30.200001     14
              ..
694.700012     1
226.100006     1
55.700001      1
165.899994     1
76.199997      1
Name: count, Length: 1106, dtype: int64

#### TERMINER L'ANALYSE EXPLORATOIRE

A rÃ©aliser : 
- Une analyse descriptive des donnÃ©es, y compris une explication du sens des colonnes gardÃ©es, des arguments derriÃ¨re la suppression de lignes ou de colonnes, des statistiques descriptives et des visualisations pertinentes.

# ModÃ©lisation

### Import des modules

In [ ]:
#Selection
from sklearn.model_selection import (
    train_test_split,
    GridSearchCV, 
    cross_validate,
)
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error 
from sklearn.inspection import permutation_importance

#Preprocess
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler

#ModÃ¨les
from sklearn.dummy import DummyRegressor
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor

### Feature Engineering

A rÃ©aliser : Enrichir le jeu de donnÃ©es actuel avec de nouvelles features issues de celles existantes.

In [ ]:
# CODE FEATURE ENGINEERING

### PrÃ©paration des features pour la modÃ©lisation

A rÃ©aliser :
* Si ce n'est pas dÃ©jÃ  fait, supprimer toutes les colonnes peu pertinentes pour la modÃ©lisation.
* Tracer la distribution de la cible pour vous familiariser avec l'ordre de grandeur. En cas d'outliers, mettez en place une dÃ©marche pour les supprimer.
* DÃ©barrassez-vous des features redondantes en utilisant une matrice de corrÃ©lation.
* RÃ©alisez diffÃ©rents graphiques pour comprendre le lien entre vos features et la target (boxplots, scatterplots, pairplot si votre nombre de features numÃ©riques n'est pas trÃ¨s Ã©levÃ©).
* Â SÃ©parez votre jeu de donnÃ©es en un Pandas DataFrame X (ensemble de feautures) et Pandas Series y (votre target).
* Si vous avez des features catÃ©gorielles, il faut les encoder pour que votre modÃ¨le fonctionne.

In [ ]:
# CODE PREPARATION DES FEATURES

### Comparaison de diffÃ©rents modÃ¨les supervisÃ©s

A rÃ©aliser :
* Pour chaque algorithme que vous allez tester, vous devez :
    * RÃ©aliser au prÃ©alable une sÃ©paration en jeu d'apprentissage et jeu de test via une validation croisÃ©e.
    * Si les features quantitatives que vous souhaitez utiliser ont des ordres de grandeur trÃ¨s diffÃ©rents les uns des autres, et que vous utilisez un algorithme de regression qui est sensible Ã  cette diffÃ©rence, alors il faut rÃ©aliser un scaling (normalisation) de la donnÃ©e au prÃ©alable.
    * Entrainer le modÃ¨le sur le jeu de Train
    * PrÃ©dire la cible sur la donnÃ©e de test (nous appelons cette Ã©tape, l'infÃ©rence).
    * Calculer les mÃ©triques de performance R2, MAE et RMSE sur le jeu de train et de test.
    * InterprÃ©ter les rÃ©sultats pour juger de la fiabilitÃ© de l'algorithme.
* Vous pouvez choisir par exemple de tester un modÃ¨le linÃ©aire, un modÃ¨le Ã  base d'arbres et un modÃ¨le de type SVM
* DÃ©terminer le modÃ¨le le plus performant parmi ceux testÃ©s.

In [ ]:
# CODE COMPARAISON DES MODELES

### Optimisation et interprÃ©tation du modÃ¨le

A rÃ©aliser :
* Reprennez le meilleur algorithme que vous avez sÃ©curisÃ© via l'Ã©tape prÃ©cÃ©dente, et rÃ©alisez une GridSearch de petite taille sur au moins 3 hyperparamÃ¨tres.
* Si le meilleur modÃ¨le fait partie de la famille des modÃ¨les Ã  arbres (RandomForest, GradientBoosting) alors utilisez la fonctionnalitÃ© feature importance pour identifier les features les plus impactantes sur la performance du modÃ¨le. Sinon, utilisez la mÃ©thode Permutation Importance de sklearn.Â

In [ ]:
# CODE OPTIMISATION ET INTERPRETATION DU MODELE